body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
    margin: 0; 
    padding: 20px;
}
h1 {
    width: 100%; 
    text-align: center; 
    color: #333;
    margin: 20px 0;
}
.food-box {
    position: relative; /* Set the position to relative for absolute positioning inside */
    width: 25%; 
    max-width: 300px; 
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.favorite-btn {
    position: absolute; /* Set the position to absolute for precise placement */
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-btn::before {
    content: '\2665'; /* Unicode character for a heart */
    font-size: 24px; /* Adjust the size as needed */
    color: #007bff;
}

.favorite-btn:hover::before {
    color: #0056b3;
}